
.form-background{
    background: url(../../../Assets/fondopayment2.jpg);
}

.btn-submit{
    background-color: #0af1c5;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-premium{
    background-color: #56cfe1;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-premium:hover{
    background-color: #64dfdf;
}

.btn-premium2{
    background-color: #56cfe1;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 30%;
    margin-top: 5%;
}

.btn-premium2:hover{
    background-color: #64dfdf;
}

.pcard {
    background-color: white;

}