
.form-background{
    background: url(../../../Assets/fondopayment2.jpg);
}

.btn-submit{
    background-color: #0af1c5;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-premium{
    background-color: #a56317;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 600;
}
